:root {
  font-family: "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --primary-color: #ffffff;
}

html, body, #svelte {
  height: 100%;
}

body {
  background-color: var(--primary-color);
  font-size: 14px;
}